img {
  width: 200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #262626;

  font-family: "Calibri Light", Verdana, Geneva, Tahoma, sans-serif;
  color: #f2f2f2;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #DED227;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  color: #262626;
}
h1 span {
  color: #f2f2f2;
}
header button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #262626;
  color: white;
  font-size: 40px;
}
/* lomitos-random */
.lomitos-random {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.img-aleatorias--container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/*upload-lomito*/
.upload-lomito {
  display: none;
}